.reset-container {
  width: 70%;
  height: 600px;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  margin-top: 40px;
  border: solid 2px #F8F8F8;
}

.reset-container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-color: transparent;
  border-style: solid;
  border-radius: 10px 0;
}
.reset-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
  transform: rotate(180deg);
  border-radius: 10px 0;

}

.reset-container::before, .reset-container::after {
  border-width: 4em;
  border-left-color: #89B4DE;
  border-top-color: #89B4DE;
}